<% include ../partials/header %>

<div class = "container">
    <header class="jumbotron">
        <div class="container">
            <h1>HIKING SPOTS</h1>
            <p>View our handpicked hiking spots</p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/hikingspots/new">Create a new hike</a>
            </p>
        </div>
    </header>
    
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% hikes.forEach(function(hike) { %>
            <div class="col-md-3 col-md-6">
                <div class="thumbnail">
                    </h4><img src="<%= hike.image %>">
                    <div class="caption">
                        <h4><%= hike.name %></h4>
                    </div>
                    <p>
                        <a href="/hikingspots/<%= hike._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>    
            
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>